<div class="topbar">
  <span class="topbar-title">
    Demo6
    <span class="topbar-version">v1.0.10</span>
  </span>
  <nav>
    <a routerLink="/users"       routerLinkActive="active">Uživatelé</a>
    <a routerLink="/user/add"    routerLinkActive="active">Přidat</a>
    <a routerLink="/user/delete" routerLinkActive="active">Smazat</a>
    <a routerLink="/user/modify" routerLinkActive="active">Změnit</a>
    <a href="https://jakub.baprace.online" target="_blank">Jakub </a>
    <a href="https://dominik.baprace.online" target="_blank">Dominik </a>
  </nav>
</div>

<div class="page">
  <router-outlet />
</div>
